@media (min-width: 1200px) {
    .img{
        width: 950px !important;
        height: 650px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .img{
        width: 350px !important;
        height: 450px !important
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .img {
    width: 300px !important;
    height: 350px !important;
  }
  h1{
      font-size: 17.6px;
  }
  h6{
    font-size: 12.8px;
  }
}

.img{
    max-width: 100%;
}

.synopsis{
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content:focus {
  border-color: black !important;
  border-style: solid;
}