<app-accessibility></app-accessibility>
<div id="header" >
  <div class="container-fluid px-0 py-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <h1 class="menu"><strong>MOVIES</strong></h1>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item" >
              <!-- <input class="teste" id="home"/> -->
              <a class="teste" id="home" >Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Register</a
              >
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDarkDropdown"
              >
                <li>
                  <a class="dropdown-item" [routerLink]="['/movies-register']"
                    >Movies</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/movies-categories']"
                    >Categories</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Users</a
              >
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDarkDropdown"
              >
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/movies-users-register']"
                    >New user</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/movies-users-list']"
                    >List</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>