<h1 class="container" *ngIf="!moviesId" tabindex="0"><strong>New Movie</strong></h1>
<h1 class="container" *ngIf="moviesId" tabindex="0"><strong>Edit Movie</strong></h1>
<form class="formMovie container" [formGroup]="postMovie">
  <div class="form-movie">
    <label for="title" tabindex="0">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Title"
      formControlName="title"
    />
    <span
      class="valid"
      *ngIf="
        postMovie.controls['title'].dirty &&
        postMovie.hasError('required', 'title')
      "
      >Title is required</span
    >
  </div>
  <div class="form-movie">
    <label for="synopsis" tabindex="0">Synopsis</label>
    <textarea
      class="form-control"
      id="synopsis"
      placeholder="Synopsis"
      rows="3"
      formControlName="synopsis"
    ></textarea>
    <span
      class="valid"
      *ngIf="
        postMovie.controls['synopsis'].dirty &&
        postMovie.hasError('required', 'synopsis')
      "
      >Synopsis is required</span
    >
  </div>
  <div class="form-movie">
    <label for="url" tabindex="0">Image</label>
    <input
      type="text"
      class="form-control"
      id="image"
      placeholder="Image Url"
      formControlName="image"
    />
    <span
      class="valid"
      *ngIf="
        postMovie.controls['synopsis'].dirty &&
        postMovie.hasError('required', 'image')
      "
      >Image is required</span
    >
  </div>
  <div class="form-movie">
    <label for="date" tabindex="0">Date</label>
    <input
      type="text"
      class="form-control"
      id="date"
      placeholder="Posting year"
      formControlName="date"
    />
    <span
      class="valid"
      *ngIf="
        postMovie.controls['date'].dirty &&
        postMovie.hasError('required', 'date')
      "
      >Date is required</span
    >
  </div>
  <div class="form-movie">
    <label for="duration" tabindex="0">Duration</label>
    <input
      type="text"
      class="form-control"
      id="duration"
      placeholder="Duration"
      formControlName="duration"
    />
    <span
      class="valid"
      *ngIf="
        postMovie.controls['duration'].dirty &&
        postMovie.hasError('required', 'duration')
      "
      >Duration is required</span
    >
  </div>
  <div class="form-movie">
    <label for="language" tabindex="0">Language</label>
    <select
      [compareWith]="compareFn"
      class="form-control"
      name="language"
      id="language"
      formControlName="language"
    >
      <option value="" selected>Choose the Language</option>
      <option *ngFor="let l of listLanguages" [ngValue]="l">{{ l.tag }}</option>
    </select>
    <span
      class="valid"
      *ngIf="
        postMovie.controls['language'].dirty &&
        postMovie.hasError('required', 'language')
      "
      >Language is required</span
    >
  </div>
  <div class="form-movie">
    <label for="category" tabindex="0">Category</label>
    <select
      [compareWith]="compareFn"
      class="form-control"
      name="category"
      id="category"
      formControlName="category"
    >
      <option value="" selected>Choose the category</option>
      <option *ngFor="let c of listCategory" [ngValue]="c">{{ c.name }}</option>
    </select>
    <span
      class="valid"
      *ngIf="
        postMovie.controls['category'].dirty &&
        postMovie.hasError('required', 'category')
      "
      >Category is required</span
    >
  </div>
<div class="form-button form-movie">
  <button
    type="button"
    class="btn btn-dark"
    (click)="postMovies()"
    *ngIf="!moviesId"
  >
    Saved
  </button>

  <button
    type="button"
    class="btn btn-dark"
    (click)="putMovies()"
    *ngIf="moviesId"
  >
    Edit
  </button>
</div>
</form>