<h1 class="container" *ngIf="!userId" tabindex="0">
  <strong>New User</strong>
</h1>
<h1 class="container" *ngIf="userId" tabindex="0">
  <strong>Edit User</strong>
</h1>
<form class="formUser container" [formGroup]="postUsers">
  <div class="form-user">
    <label for="name" tabindex="0">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="name"
      formControlName="name"
    />
    <div class="valid">
      <span
        *ngIf="
          postUsers.controls['name'].dirty &&
          postUsers.hasError('required', 'name')
        "
        >Name is required</span
      >
    </div>
    <div class="valid">
      <span *ngIf="postUsers.hasError('minlength', 'name')"
        >Name must be at least 3 characters long.</span
      >
    </div>
  </div>
  <div class="form-user">
    <label for="cpf" tabindex="0">Cpf</label>
    <input
      class="form-control"
      id="cpf"
      placeholder="cpf"
      formControlName="cpf"
    />
    <div class="valid">
      <span
        *ngIf="
          postUsers.controls['cpf'].dirty &&
          postUsers.hasError('required', 'cpf')
        "
        >CPF is required</span
      >
    </div>
  </div>
  <div class="form-user">
    <label for="cellPhone" tabindex="0">CellPhone</label>
    <input
      class="form-control"
      id="cellPhone"
      placeholder="cellPhone"
      formControlName="cellPhone"
    />
    <div class="valid">
    <span
      class="valid"
      *ngIf="
        postUsers.controls['cellPhone'].dirty &&
        postUsers.hasError('required', 'cellPhone')
      "
      >CellPhone is required</span
    >
    </div>
  </div>
  <div class="form-user">
    <label for="email" tabindex="0">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="email"
      formControlName="email"
    />
    <span
      class="valid"
      *ngIf="
        postUsers.controls['email'].dirty &&
        postUsers.hasError('required', 'email')
      "
      >Email is required</span
    >
    <div class="valid">
      <span *ngIf="postUsers.hasError('email', 'email')"
        >Email invalid</span
      >
    </div>
  </div>
  <div class="form-user">
    <label for="password" tabindex="0">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="password"
      formControlName="password"
    />
    <span
      class="valid"
      *ngIf="
        postUsers.controls['password'].dirty &&
        postUsers.hasError('required', 'password')
      "
      >Password is required</span
    >
    <div class="valid">
      <span *ngIf="postUsers.hasError('minlength', 'password')"
        >Password must be at least 6 characters long.</span
      >
    </div>
  </div>
  <div class="form-user">
    <label for="profile" tabindex="0">profile</label>
    <select
      class="form-control"
      name="profile"
      id="profile"
      formControlName="profile"
    >
      <option value="" selected>Choose the Profile</option>
      <option ngValue="ADMINISTRATOR">ADMINISTRATOR</option>
      <option ngValue="VISITOR">VISITOR</option>
    </select>
<span
      class="valid"
      *ngIf="
        postUsers.controls['profile'].dirty &&
        postUsers.hasError('required', 'profile')
      "
      >Profile is required</span
    >
  </div>
  <div class="form-user">
    <label for="language" tabindex="0">Language</label>
    <select
      [compareWith]="compareFn"
      class="form-control"
      name="language"
      id="language"
      formControlName="language"
    >
      <option value="" selected>Choose the Language</option>
      <option *ngFor="let l of listLanguages" [ngValue]="l">{{ l.tag }}</option>
    </select>
    <span
      class="valid"
      *ngIf="
        postUsers.controls['language'].dirty &&
        postUsers.hasError('required', 'language')
      "
      >Language is required</span
    >
  </div>
  <div class="form-button form-movie">
    <button
      type="button"
      class="btn btn-dark"
      (click)="postUser()"
      *ngIf="!userId"
    >
      Saved
    </button>

    <button
      type="button"
      class="btn btn-dark"
      (click)="putUsers()"
      *ngIf="userId"
    >
      Edit
    </button>
  </div>
</form>
